on: [push, workflow_dispatch]

jobs:

  build_test_doc:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt install -y liblzma-dev pkg-config
      - uses: actions/checkout@v4
      - uses: haskell-actions/setup@v2
        id: setup
      - run: cabal configure --enable-tests && cabal build --dry-run
      - uses: actions/cache@v4
        with:
          path: ${{ steps.setup.outputs.cabal-store }}
          key: cabal-${{ hashFiles('**/plan.json') }}
          restore-keys: cabal-
      - run: cabal build --only-dependencies
      - run: cabal build
      - run: cabal test --test-show-details=streaming
      - run: cabal haddock --builddir=haddock_build --haddock-hyperlinked-source --haddock-html-location='https://hackage.haskell.org/package/$pkg-$version/docs'
      - run: mv $(find haddock_build -wholename '*doc/html/terminal-time-tracking-tool' | head -n 1) haddock_html
      - uses: actions/upload-artifact@v4
        with:
          name: t4 API docs
          path: haddock_html
      - uses: actions/upload-pages-artifact@v3
        with:
          path: haddock_html

  deploy:
    needs: build_test_doc
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    steps:
      - uses: actions/deploy-pages@v4
        id: deploy
